body {
    font-family: 'Poppins', sans-serif;
    margin: 0px
}

//links
a{
    text-decoration: none;
    color: black;
}

// Search Bar
.search-bar {
    border-radius: 30px;
    padding: 15px 15px 15px 40px; // Add padding to the left for the icon to have space for the search icon
    width: 450px;
    border: 1px solid #ccc; // Optional: Add a border for visibility
}

// Search Container
.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

.search-container .fa-search {
    position: absolute;
    left: 15px; // Position the icon inside the input
    color: #888;
    pointer-events: none; // Prevent the icon from interfering with input
}

// Google Logo
.logo {
    text-align: center;
    padding-top: 150px;
    img{
        height: 105px;
        width: auto;
    }
}

// Google Image tab
.logo-image {
    text-align: center;
    padding-top: 150px;
    img {
        height: 100px;
        width: auto;
    }
}

//Google Advance tab
.find{
    margin-left: 30px;
}

.logo-advance{
    text-align: left;
    img{
        margin-left: 15px;
        height: 40px;
        width: auto;
    }
}

.advance-text{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: 20px;
    border-bottom: 1px solid;
}

.advance-forms{
    display: flex;
    flex-direction: column wrap;
    margin-left: 30px;
}

.advance-blank{
    width: 500px;
    height: 25px;
}

// Links on top right page
.links {
    text-align: right;
    margin: 10px;
}

// Search Bar
form {
    display: flex;
    flex-direction: column;
    align-items: center; // Center align the items horizontally

    input[type="text"] {
        margin-top: 20px;
        margin-bottom: 20px; // Space below the search bar
    }

    input[type="submit"] {
        margin-bottom: 5px; // Space below the submit buttons
    }
}

// Button
.button_space{
    display: flex;
    gap: 20px;
}

.button{
    padding: 10px;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
}
